@import "variables";
@import "viajes";

*{
    margin: 0;
    padding: 0;
}
body{
    background: $colordos;
}

.title h1{
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    align-content: center;background-color: cadetblue;

}

.navar{padding: 50px 0;
    text-align: center;
    font-size: 1em;
    align-content: center;
}
header{
    h1{padding: 20px 0;
        text-align: center;
        font-size: 2.9em;
        align-content: center;background-color: cadetblue;
    }
    nav{
        ul{
            background-color: rgb(100, 116, 55);
            width: 100%;
            list-style-type: none;
            text-align: center;
            li{
                display: inline-flex;
                a{
                    text-decoration: none;
                    color: white;
                    padding: 10px;
                    width: 100%; 
                    &:hover{
                        background-color: $coloruno;
                    }  
                } 
            }   
        }
    }
}

/*Grids index*/


.container{
    background: rgb(227, 219, 219);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    grid-gap:   1.6em;
    grid-template-columns: repeat(5,1fr);

    .header,
    .content,
    .sidebar,
    .footer,
    div{
        background: wheat;
        padding: 20px;
        border: 1px solid rgba(52, 5, 2, 0.356);
    }

    .title{
        display: grid;
        grid-column: 1/6;
        
            background-color: grey;
            color: black;
        }
          .footer{
            display: grid;
            grid-column: 1/6;
            background-color: grey;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
             
          }  
          .content{
   
            display: grid; 
            grid-column: span 3;
         }

         .sidebar{
            grid-column: span 2;
          color: black;
            background-color: rgb(212, 144, 242);
        display: flex;
        align-items: center;
        flex-direction: column;
        
        }

}    


.content {

.article{
    background-color: cadetblue;
    padding: 20px;
    margin-top: 5px;
    color: black;
     p{
        padding: 10px;
        }
        h2{
            padding: 10px;
            }

    }

}


.another{
    background: violet;
    color: black;
    height: 180px;
    display: grid;
    display: flex;
    align-items: center;
     background-color: grey;
     justify-content: center;
       }
    

/*ANIMALESSSSSSSSSSSSSSSSSSSSSS*/



/*GRIDS animales */
.contodo{
    background: rgb(92, 75, 111);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: 1fr;
    background: wheat;
    padding: 20px;
     border: 1px solid rgba(52, 5, 2, 0.356);

    .tema,
    .conmas,
    .fultimo,
    div
     {
         background: wheat;
         padding: 20px;
         border: 1px solid rgba(52, 5, 2, 0.356);
     }

     .tema{
        display: grid;
        grid-column: 1/3;
        
            background-color: grey;
            color: black;

        }


.fultimo{
          display: grid;
          grid-column: 1/6;
          background-color: grey;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 20px;
           
        }  
        .conmas{
       
            display: grid; 
            grid-column: span 3;
             

         }

         

        .info{
            background-color: cadetblue;
            padding: 20px;
            margin-top: 5px;
            color: black;
            }


            .post{
                background: violet;
                color: black;
                height: 180px;
                display: grid;
                display: flex;
                align-items: center;
                 background-color: grey;
                 justify-content: center;
                   }
      }            
.conmas{
    .info{
      p{
        padding: 10px;
        }
        h2{
            padding: 10px;
            }
        }

    }




/*GRIDS Ciencia */
.contodotres{
    background: rgb(92, 75, 111);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat (5, 1fr);
    .contodotres> .tematres,
    .contodotres> .conmastres,
    .contodotres> .sidebaritres,
    .contodotres> .fultimotres,
    .contodotres> div
    {
        background: wheat;
        padding: 20px;
        border: 1px solid rgba(52, 5, 2, 0.356);
    }
    .tematres{
        display: grid;
        grid-column: 1/6;
        
            background-color: grey;
            color: black;
        }
        .fultimotres{
            display: grid;
            grid-column: 1/6;
            background-color: grey;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
             
          }  
          .conmastres{
     
            display: grid; 
            grid-column: span 3;

            .infotres{
                background-color: cadetblue;
                padding: 20px;
                margin-top: 5px;
                color: black;
                p{
                    padding: 10px;
                    }
    
                    h2{
                        padding: 10px;
                        }
         }
    

         .sidebaritres{
            grid-column: span 2;
          color: black;
            background-color: rgb(212, 144, 242);
        display: flex;
        align-items: center;
        flex-direction: column;
        
        }

            }
            

            .posttres{
                background: violet;
                color: black;
                height: 180px;
                display: grid;
                display: flex;
                align-items: center;
                 background-color: grey;
                 justify-content: center;

}

    }

/*GRIDS Curiosidades */
.contododos{
    background: rgb(92, 75, 111);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5,1fr);


    .temados,
    .conmasdos,
    .sidebaridos,
    .fultimodos,
     div
    {
        background: wheat;
        padding: 20px;
        border: 1px solid rgba(52, 5, 2, 0.356);
    }
    .temados{
        display: grid;
        grid-column: 1/6;
        
            background-color: grey;
            color: black;
        }
          .fultimodos{
            display: grid;
            grid-column: 1/6;
            background-color: grey;
            color: black;
            display: flex;
            align-items: center;
            justify-content: center;
             
          }  

          .conmasdos{
     
            display: grid; 
            grid-column: span 3;

         }

         .sidebaridos{
            grid-column: span 2;
          color: black;
            background-color: rgb(212, 144, 242);
        display: flex;
        align-items: center;
        flex-direction: column;
        
        }
        
        .infodos{
            background-color: cadetblue;
            padding: 20px;
            margin-top: 5px;
            color: black;
             p{
                padding: 10px;
                }
                h2{
                    padding: 10px;
                    }



            }
            
            .postdos{
                background: violet;
                color: black;
                height: 180px;
                display: grid;
                display: flex;
                align-items: center;
                 background-color: grey;
                 justify-content: center;
                   }
            }      

     
/*GRIDS Viajes*/

.contodouno{
    background: rgb(92, 75, 111);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5,1fr);

    
    .temauno,
    .conmasuno,
    .sidebariuno,
    .fultimouno,
    div
    {
        background: wheat;
        padding: 20px;
        border: 1px solid rgba(52, 5, 2, 0.356);
    }
    
.temauno{
    display: grid;
    grid-column: 1/6;
    background-color: grey;
    color: black;
  
  
    }


    .fultimouno{
        display: grid;
        grid-column: 1/6;
        background-color: grey;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
         
      }  

      .conmasuno{
     
        display: grid; 
        grid-column: span 3;
     }

     .sidebariuno{
        grid-column: span 2;
      color: black;
        background-color: rgb(212, 144, 242);
    display: flex;
    align-items: center;
    flex-direction: column;
    
    }

    .infouno{
        background-color: cadetblue;
        padding: 20px;
        margin-top: 5px;
        color: black;
        }



        .postuno{
            background: violet;
            color: black;
            height: 180px;
            display: grid;
            display: flex;
            align-items: center;
             background-color: grey;
             justify-content: center;
               }     
}

.conmasuno {

    .infouno h2{
        padding: 10px;
    }
    .infouno p{
    padding: 10px;
    }

}

/*Queries Index */

@media screen and (max-width:500px){
    .container{
      background:rgb(161, 93, 221) ;
      grid-template-columns: 1fr;
     
      .content{
        grid-column: 1/6;
        
        }

            .sidebar{
                grid-column: 1/6;
              }

              .another{
                grid-column: 1/6;
              }
    }
    
  
  }

/*Queries Viajes */

@media screen and (max-width:500px){
 .contodouno{
  background: rgb(226, 117, 208);
  grid-template-columns: 1fr;

  .conmasuno{

    grid-column: 1/6;
  
  }

  .sidebariuno{
    grid-column: 1/6;
  }



 .anexouno{
    grid-column: 1/6;
  }

 }
}





/*Queries Animales*/
@media screen and (max-width:500px){
   
    .contodo{
      background: rgb(226, 117, 208);
      grid-template-columns: 1fr;

      .conmas{
    
        grid-column: 1/6;
      
      }

      
      .post{
        grid-column: 1/6;
      }

     } 
    
    }

/*Queries Curiosidades*/
@media screen and (max-width:500px){
   
    .contododos{
      background: rgb(226, 117, 208);
      grid-template-columns: 1fr;

      .conmasdos{
    
        grid-column: 1/6;
      
      }


      .sidebaridos{
        grid-column: 1/6;
      }

      .postdos{
        grid-column: 1/6;
      }


     } 
    
    }
  
/*Queries Ciencia*/
@media screen and (max-width:500px){
   
    .contodotres{
      background: rgb(226, 117, 208);
      grid-template-columns: 1fr;

      .conmastres{
    
        grid-column: 1/6;
      
      }
      .sidebaritres{
        grid-column: 1/6;
      }

      .posttres{
        grid-column: 1/6;
      }

     } 
    
    
    }
  
    /*EXTEND*/


.container,title{
display:grid;
grid-column:1/6;
background-color:grey;
color:black
}

    .footer{
@extend.title;
display:flex;
align-items:center;
justify-content:center;

    }









